In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('smoothened_total_forecast_ML150222.dat', sep = '|')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
df[df.CS_UPC_NR_CD == '076430223303']

,CUST_ID_NR_CD,IND_ACCT_NR_CD,PROMO_PLN_ID_NR_CD,PROMO_PLN_YR_CD,BRND_NR_CD,CS_UPC_NR_CD,CS_UPC_VRSN_NR_CD,WEEK_NR,SOURCE_CD,SUPPLEMENTAL_VOLUME_NR,CAT_NR_CD,FMLY_NR_CD,ACCT_PLAN_ID,DATE_LAST_UPDATED,DEL_IND,NSV_AMT,Unnamed: 16
30987,462,0,NaN,2022,NaN,076430223303,NaN,6,NaN,11.376171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30988,462,0,NaN,2022,NaN,076430223303,NaN,7,NaN,11.916786,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30989,462,0,NaN,2022,NaN,076430223303,NaN,8,NaN,11.642127,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30990,462,0,NaN,2022,NaN,076430223303,NaN,9,NaN,12.034680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30991,462,0,NaN,2022,NaN,076430223303,NaN,10,NaN,12.037306,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6523379,174,0,NaN,2023,NaN,076430223303,NaN,48,NaN,370.379600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6523380,174,0,NaN,2023,NaN,076430223303,NaN,49,NaN,346.183720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6523381,174,0,NaN,2023,NaN,076430223303,NaN,50,NaN,346.183720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6523382,174,0,NaN,2023,NaN,076430223303,NaN,51,NaN,350.632870,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6523383,174,0,NaN,2023,NaN,076430223303,NaN,52,NaN,350.632870,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
gg.dtypes

DPCI              object
NW1_FINAL_PM     float64
NW2_FINAL_PM     float64
NW3_FINAL_PM     float64
NW4_FINAL_PM     float64
NW5_FINAL_PM     float64
NW6_FINAL_PM     float64
NW7_FINAL_PM     float64
NW8_FINAL_PM     float64
NW9_FINAL_PM     float64
NW10_FINAL_PM    float64
NW11_FINAL_PM    float64
NW12_FINAL_PM    float64
NW13_FINAL_PM    float64
dtype: object

In [1]:
df.dtypes

NameError: name 'df' is not defined

In [35]:
for i in df.columns[1:]:
    df[i] = df[i].str.replace(',','').astype(float)

In [39]:
df.to_excel('gghh.xlsx', index=False)

In [9]:
1+1

2

In [8]:
dcd

NameError: name 'dcd' is not defined

In [10]:
df.NW1_FINAL_PM.astype(float)

NameError: name 'df' is not defined

In [30]:
'rfrfre'.replace(',', '')

'rfrfre'